.list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  margin-top: 20px;
}
.item{
  width: 200px;
}
.text{
  text-decoration: underline;
}
.imageWripper{
  width: 92px;
  height: 138px;
  margin-top: 10px;

  border-radius: 5px;
  overflow: hidden;
}
.image{
  display: block;
  width: 92px;
  height: 138px;
}